<a href="https://colab.research.google.com/github/SNamboko/SNamboko/blob/main/DAY_3_Wednesday_Quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **1. Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included).**

In [12]:
first_number = int(input("Enter 1st number: "))
f = first_number
second_number = int(input("Enter 2nd number"))
s = second_number

for i in range (f,s, +1):
  if (i%7 == 0 and i%5 == 0):
    print (i)

Enter 1st number: 1499
Enter 2nd number2701
1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

### **2.  Write a Python program to convert temperatures to and from celsius, fahrenheit.**
[ Formula : c/5 = f-32/9 [ where c = temperature in celsius and f = temperature in fahrenheit ]
### **Expected Output :**
### **60°C is 140 in Fahrenheit**
### **45°F is 7 in Celsius**

In [46]:
def conversion_menu():
  print ("1. Celcius to Fahrenheit")
  print ("2. Fahrenheit to Celcius")

def c_f():
  c = float(input("Enter temperature in celcius "))
  f = float(c * 1.8 + 32) 
  print ("{1} degrees celcius is {0}".format(f,c), "degrees fahrenheit")

def f_c():
  f = float(input("Enter temperature in fahrenheit "))
  c = float(f - 32 * 1.8) 
  print ("{1} degrees fahrenheit is {0}".format(f,c), "degrees celcius")

conversion_menu() 

option = input("Choose one option (1/2): ")

if option == "1":
  c_f()
if option == "2":
  f_c()

1. Celcius to Fahrenheit
2. Fahrenheit to Celcius
Choose one option (1/2): 1
Enter temperature in celcius 34
34.0 degrees celcius is 93.2 degrees fahrenheit